<!-- Basic config for logger -->
<configuration>
    <!-- appender tag tells how and where -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- enconder tag is for formatting --> 
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- file tag tells logback where to save the log file -->
        <file>logs/staticLogs.log</file>
        <!-- append tag tells logback to add to current file or create a new file -->
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Include MDC keys in the log messages -->
            <includeMdcKeyName>METHOD</includeMdcKeyName>
            <includeMdcKeyName>URI</includeMdcKeyName>
        </encoder>
    </appender>

    <!-- root tag tells logback the default setting when not specified -->
    <root level="INFO">
        <!-- Single Tags: ends with a forward slash /-->
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

<!--
    Logging levels:
        TRACE - Provides all information
        DEBUG - Provides relevant information for debugging
        INFO - Provides general information
        WARN - Provides developer of issues
        ERROR - Provides information of failures
        NONE (disable)
-->
